{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css"
    />

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <title>Bons de livraison</title>
  </head>
  <body>
    {% include 'header.html' %}
    <h3>Modifier un Bon de Livraison</h3>
    <form method="POST">
      {% csrf_token %} {{ form.as_p}}
      <!-- pour revenir en arrière et annuler la modification -->
      
      
        <table class="table tproducts">
          <thead>
            <tr>
              <th>Produit</th>
              <th>Selectionner</th>
              <th>Prix HT</th>
              <th>Prix Vente</th>
              <th>Quantité</th>

            </tr>
          </thead>
          <tbody>
            {% for produit in produits %}
              <tr>
                <td>{{ produit.produit }}</td>
                <td><input type="checkbox" name="produits" onchange="checkboxChanged(this)" value="{{ produit.produit.code_produit }}"></td>
                <td><input type="number" name="priceht_{{ produit.produit }}" value={{produit.prix_ht}} disabled></td>
                <td><input type="number" name="pricevt_{{ produit.produit }}" value={{produit.prix_vente_fr}} disabled></td>
                <td><input type="number" name="quantity_{{ produit.produit}}" value={{produit.qteprodbl}}  disabled></td>

              </tr>
            {% endfor %}
          </tbody>
        </table>
        <a id="Annuler" href=" {% url 'bondelivraison' %}">Annuler</a>

        <input id="Confirm" type="submit" value="Modifier">
    </form>
  </body>

  <script src="{% static 'javascript/script.js' %}"></script>
  <script>
    var select=document.getElementById("id_fournisseur")
    var span=document.createElement("span")
    span
    span.innerHTML += ' <a href="#" onclick="window.open(\'{% url "addS" %}\', \'newwindow\', \'width=700, height=500\'); return false;">(ajouter un fournisseur)</a>'
    select.parentNode.insertAdjacentElement("afterend",span)
  
  
  </script>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"
  ></script>


</html>
