{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css"
    />
    <link rel="stylesheet" href="../static/growl-notification/light-theme.min.css">
    

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <title>Produits</title>
  </head>
  <body>
    {% include 'header.html' %}
    <h4 class="display-5 d-inline">Liste des Produits :</h4>
   
    <input
    class="hid search"
      type="text"
      id="myInput"
      onkeyup="SearchBar()"
      placeholder="Rechercher un Produit ..."
    />
    <table class="table tproducts">
      <thead>
        <th>Code Produit</th>
        <th>Nom Produit</th>
        <th>Type</th>
        <th class="hid">Actions</th>
        <th class="hid"></th>
      </thead>
      {% for product in products %}
      <tbody>
        <tr data-aos="fade-right" data-aos-anchor-placement="bottom-bottom">
          <td>{{product.code_produit}}</td>
          <td>{{product.nom_produit}}</td>
          <td>{{product.type_produit}}</td>
          <td class="hid">
            <a class="btn btn-secondary" href="{% url 'editP' product.code_produit %}">
              Modifier
            </a>
            <a class="btn btn-danger" href="{% url 'deleteP' product.code_produit %}">
              Supprimer
            </a>
          </td>
          <!-- le lien vers la page de modification en gardant le id de la cmd à modifier -->
        </tr>
        {% endfor%}  
       
      </tbody> 

    </table>
    <div style="display: flex;flex-direction: column;align-items: flex-end

    ;">
    <a style="float: right;margin-right: 25px; width: 18%; margin-bottom: 20px;" class="btn btn-primary " href="{% url 'addP' %}">Ajouter un nouveau Produit</a>
    <button style="background-color: purple;float: right;margin-right: 25px; width: 18%;margin-bottom: 20px;" id="print-button" class="btn btn-primary" >Imprimer</button>

  </div>
  </body>

  <script src="{% static 'javascript/script.js' %}"></script>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"
  ></script>


</html>
